.nav{
    width: 100%;
    display: block;
    height: 600px;
}
.nav h1, .category h4, .apple h4{
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    padding: 15px;
}
.category h4{
    width: 100%;
    background-color: rgb(199, 198, 198);
}
.apple h4{
    background-color: black;
    color:white
}
.apple a,.category a{
    color: grey;
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}
 a:hover,
 a.active{
    color:rgb(250, 181, 90)
}
.category{
    display: block;
    width: 100%;
}